*

# ~ files
!install
!readme.md
!.gitignore

# .config files
!.config/
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/alacritty/
!.config/alacritty/**/*
!.config/bash/
!.config/bash/**/*
!.config/bspwm/
!.config/bspwm/**/*
!.config/fontconfig/
!.config/fontconfig/**/*
!.config/git/
!.config/git/**/*
!.config/hypr/
!.config/hypr/**/*
!.config/npm/
!.config/npm/**/*
!.config/readline/
!.config/readline/**/*
!.config/shell/
!.config/shell/**/*
!.config/sway/
!.config/sway/**/*
!.config/sxhkd/
!.config/sxhkd/**/*
!.config/wget/
!.config/wget/**/*
!.config/x11/
!.config/x11/**/*
!.config/zsh/
!.config/zsh/**/*

# .local files
!.local/
!.local/bin/
!.local/bin/**/*
!.local/share/
!.local/share/themes/
!.local/share/themes/**/*
!.local/share/icons/
!.local/share/icons/**/*
!.local/share/fonts/
!.local/share/fonts/**/*


# firefox files
!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/default/
!.mozilla/firefox/default/user.js
!.mozilla/firefox/default/chrome/
!.mozilla/firefox/default/chrome/**/*

__*__
