*

!install.sh
!readme.md

!HyprPanel

!.config/
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/alacritty/
!.config/alacritty/**/*
!.config/compfy/
!.config/compfy/**/*
!.config/fontconfig/
!.config/fontconfig/**/*
!.config/git/
!.config/git/**/*
!.config/hypr/
!.config/hypr/**/*
!.config/npm/
!.config/npm/**/*
!.config/redshift/
!.config/redshift/**/*
!.config/rofi/
!.config/rofi/**/*
!.config/shell/
!.config/shell/**/*
!.config/wget/
!.config/wget/**/*
!.config/x11/
!.config/x11/**/*
!.config/zsh/
!.config/zsh/**/*

!.local/share/themes/
!.local/share/themes/**/*
!.local/share/icons/
!.local/share/icons/**/*

!.gitignore
!.bashrc
!.bash_profile
!.mozilla/firefox/*.default-release/chrome/
!.mozilla/firefox/*.default-release/chrome/**/*

__*__
