*

!install.sh

!.config/
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/alacritty/
!.config/alacritty/**/*
!.config/bspwm/
!.config/bspwm/**/*
!.config/compfy/
!.config/compfy/**/*
!.config/emacs/
!.config/emacs/*.el
!.config/fontconfig/
!.config/fontconfig/**/*
!.config/git/
!.config/git/**/*
!.config/gtk-2.0/
!.config/gtk-2.0/**/*
!.config/gtk-3.0/
!.config/gtk-3.0/**/*
!.config/gtk-4.0/
!.config/gtk-4.0/**/*
!.config/npm/
!.config/npm/**/*
!.config/polybar/
!.config/polybar/**/*
!.config/qtile/
!.config/qtile/**/*
!.config/redshift/
!.config/redshift/**/*
!.config/shell/
!.config/shell/**/*
!.config/sxhkd/
!.config/sxhkd/**/*
!.config/wget/
!.config/wget/**/*
!.config/x11/
!.config/x11/**/*
!.config/zsh/
!.config/zsh/**/*

!.gitignore
!.zprofile
!.mozilla/firefox/*.default-release/chrome/
!.mozilla/firefox/*.default-release/chrome/**/*

__*__
